<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Food Delivery Managment System</a>
                </div>
            </div>
        </nav>
    </header>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New Order <i class="fa fa-user"></i></span>
                </a>
                <div>
                <a href="/login" class="border-shadow p">
                    <span class="text-gradient">Login <i class="fa fa-sign-out"></i></span>
                </a>
                <a href="/signup" class="border-shadow p">
                    <span class="text-gradient">Signup <i class="fa fa-sign-in"></i></span>
                </a>
            </div>
            </div>
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0;i<users.length;i++){%>
                        <tr>
                            <td><%= i+1%></td>
                            <td><%=users[i].name%></td>
                            <td><%=users[i].email%></td>
                            <td><%=users[i].address%></td>
                            <td><%=users[i].status%></td>
                            <td>
                                <a href="/update-user?id=<%=users[i]._id%>" class="btn border-shadow update">
                                    <span class="text-gradient"><i class="fa fa-pencil"></i></span>
                                </a>
                                <a class="btn border-shadow delete" id="delete" data-id=<%=users[i]._id%>>
                                    <span class="text-gradient"><i class="fa fa-times"></i></span>
                                </a>
                            </td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/index.js"></script>
</body>
</html>